<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
<h2 style="text-align:center;">BRITHDAY BOUQUET</h2>
</div>
<div style="margin-top:10%;">
<div class="d-flex justify-content-start" style="gap:2%;">
<div class="h-75 p-3">
<div class="card" style="width: 15rem;">
  <img src="~/images/birthday4.jpeg"   width=50% height=50% class="card-img-top" alt="...">
  <div class="card-body" >
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
</div>
</div>
<div class="h-75 p-3">
<div class="card" style="width: 15rem;">
  <img src="~/images/birthday2.jpeg"   width=50% height=50% class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
  
</div>
</div>
<div class="h-75 p-3">
<div class="card" style="width: 15rem;">
  <img src="~/images/birthday flw.jpeg"   width=40% height=50% class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
  
</div>
</div>
<div class="h-75 p-3">
<div class="card" style="width: 15rem;">
  <img src="~/images/birthday image1.jpeg"   width=50% height=50% class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
  
</div>
</div>
  
</div>
</div>


<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">

<h2 style="text-align:center;">WEDDING BOUQUET</h2>
</div>
<div style="margin-top:10%;">
<div class="d-flex justify-content-start" style="gap:2%;">
<div class="h-75 p-3">
<div class="card" style="width: 15rem;">
  <img src="~/images/wedding.jpeg"   width=50% height=50% class="card-img-top" alt="...">
  <div class="card-body" >
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
</div>
</div>
<div class="h-75 p-3">
<div class="card" style="width: 15rem;">
  <img src="~/images/wedding5.jpeg"   width=50% height=50% class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
  
</div>
</div>
<div class="h-75 p-3">
<div class="card" style="width: 15rem;">
  <img src="~/images/weddingg4.jpeg"   width=40% height=50% class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
  
</div>
</div>
<div class="h-75 p-3">
<div class="card" style="width: 15rem;">
  <img src="~/images/wedding3.jpeg"   width=50% height=50% class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
  
</div>
</div>
  
</div>
</div>





<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
<h2 style="text-align:center; gap:100%;" >WEDDING BOUQUET</h2>
</div>
<div style="margin-top:10%;">
<div class="d-flex justify-content-start" style="gap:2%;">
<div class="h-75 p-3">
<div class="card" style="width: 15rem;">
  <img src="~/images/anniver4.jpeg"   width=50% height=50% class="card-img-top" alt="...">
  <div class="card-body" >
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
</div>
</div>
<div class="h-75 p-3">
<div class="card" style="width: 15rem;">
  <img src="~/images/anniver3.jpeg"   width=50% height=50% class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
  
</div>
</div>
<div class="h-75 p-3">
<div class="card" style="width: 15rem;">
  <img src="~/images/anniver2.jpeg"   width=40% height=50% class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
  
</div>
</div>
<div class="h-75 p-3">
<div class="card" style="width: 15rem;">
  <img src="~/images/anniver3.jpeg"   width=50% height=50% class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <button type="button" class="btn btn-primary btn-block mb-4">shop</button>
  </div>
  
</div>
</div>
  
</div>
</div>




